    @import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

*{box-sizing: border-box; padding:25px ;font-family: 'Martel', serif; } /* padding:25px 50px 75px 100px;  //top botom left right */   
    
body {
  /*  display: flex; 
    flex-direction: row; 
 /*  margin: auto; */ 
    background-color: lightgray; text-align: center;    }

.container1
{
    display:flex;
  }
.all
{
  display:flex;
  flex-wrap: wrap;
}

.box1 {
        display:flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height:500px;
        }
        
.box2
        {
            display:flex;
            
        }
            
/*
h1 {font-size: 50px; text-align: left; color: black ;background-color: rgb(66, 71, 71); float: left; }

/*rollovaci menu */

/*.Questions_h2 { background-color:rgb(166, 173, 172, 0.8) ;}*/
    
/* p{background: #a6adac;}  */

.Questions_h2 {background-color: #a6adac; }
 
h1 {text-align: left;}


/* #menu didnt work for me :/*/

.menu1 {
    display: flex;
    padding:0px;

}

.menu1 a {    
    color:black;  
    font-weight:bolder; 
    text-decoration:none; 
    text-transform:uppercase; 
    font-family:Arial, Helvetica, sans-serif; 

    }
    
.menu1 ul li ul {
    display: none;
    }
    
.menu1 ul li {
    float:left;
    list-style:none;
    width:190px;
    height:40px;
    background:darkgrey;
    text-align:center;
    padding-top:10px;
    border:2px solid black;


    }
    
.menu1 ul li:hover {
    background: #466A7F;

    }
    
.menu1 ul ul {
    margin-top:10px;
    }
    
.menu1 ul li ul li {
    margin-left:-40px;
    }
    
.menu1 ul li:hover > ul {display:block;}
.menu1 ul li ul li {background: darkgrey;}
.menu1 ul li ul li:hover {background: #466A7F;}
/*rollovaci menu */